<div class="container">
  <h2>Currency Converter</h2>

  <mat-form-field class="currency-field">
    <label>Amount</label>
    <input matInput placeholder="Amount" [(ngModel)]="amount" type="number">
  </mat-form-field>

  <mat-form-field class="currency-field">
    <label>From</label>
    <mat-select placeholder="From Currency" [(ngModel)]="fromCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="currency-field">
    <label>To</label>
    <mat-select placeholder="To Currency" [(ngModel)]="toCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
    </mat-select>
  </mat-form-field>


  <div class="result" *ngIf="result !== null">
    {{ amount }} {{ fromCurrency }} = {{ result }} {{ toCurrency }}
  </div>
  <hr>

  <button mat-raised-button color="primary" routerLink="/history">Currency List</button>
  <button mat-raised-button color="primary" (click)="convertCurrency()">Calculate</button>
</div>
