<mat-toolbar color="primary">
  <span>Historial de Cambios Realizados</span>
  <button mat-fab extended color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>

  <button mat-fab extended color="primary" (click)="handleButtonClick()">
    <mat-icon *ngIf="isSeen">visibility</mat-icon>
    <mat-icon *ngIf="!isSeen">close</mat-icon>
  </button>

</mat-toolbar>
<table mat-table [dataSource]="this.currencies$" *ngIf="isSeen">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let currency"> {{currency.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let currency"> {{currency.date}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let currency"> {{currency.query.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let currency"> {{currency.query.from}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let currency"> {{currency.query.to}} </td>
    </ng-container>

    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let currency"> {{currency.result}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let currency">

        <button mat-icon-button color="primary" (click)="deleteCurrency(currency.id) ">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="showCurrencyConfig(currency)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-raised-button color="primary" (click)="openDialog(currency)">Select</button>


      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let currency; columns: displayedColumns;"></tr>


</table>


<!--Center a button-->
<div class="center">
  <button mat-fab color="primary" routerLink="/converter" >
    <mat-icon>add</mat-icon>
  </button>
</div>



<div class="container" *ngIf="this.edit">
  <h2>Currency Converter</h2>

  <mat-form-field class="currency-field">
    <label>Amount</label>
    <input matInput placeholder="Amount" [(ngModel)]="amount" type="number">
  </mat-form-field>

  <mat-form-field class="currency-field">
    <label>From</label>
    <mat-select placeholder="From Currency" [(ngModel)]="fromCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="currency-field">
    <label>To</label>
    <mat-select placeholder="To Currency" [(ngModel)]="toCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
    </mat-select>
  </mat-form-field>


  <div class="result" *ngIf="result !== null">
    {{ amount }} {{ fromCurrency }} = {{ result }} {{ toCurrency }}
  </div>
  <hr>

  <button class="center" mat-raised-button color="primary" (click)="editCurrency()">Update</button>
</div>









