<mat-toolbar color="primary">
  <span>Historial</span>
</mat-toolbar>


<!--<mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
<!--  <ng-container matColumnDef="id">-->
<!--    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>-->
<!--    <mat-cell *matCellDef="let currency"> {{ currency.id }} </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="from">-->
<!--    <mat-header-cell *matHeaderCellDef> From Currency </mat-header-cell>-->
<!--    <mat-cell *matCellDef="let currency"> {{ currency.currencyFrom }} </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="to">-->
<!--    <mat-header-cell *matHeaderCellDef> To Currency </mat-header-cell>-->
<!--    <mat-cell *matCellDef="let currency"> {{ currency.currencyTo }} </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="amount">-->
<!--    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>-->
<!--    <mat-cell *matCellDef="let currency"> {{ currency.amount }} </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="convertedCurrency">-->
<!--    <mat-header-cell *matHeaderCellDef> Converted Currency </mat-header-cell>-->
<!--    <mat-cell *matCellDef="let currency"> {{ currency.result }} </mat-cell>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="date">-->
<!--    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>-->
<!--    <mat-cell *matCellDef="let currency"> {{ currency.date }} </mat-cell>-->
<!--  </ng-container>-->

<!--  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--</mat-table>-->
<!--<mat-paginator [pageSizeOptions]="[5]" [length]="maxSize" (page)="pageChangeEvent($event)" showFirstLastButtons></mat-paginator>-->


